<div class="card">
    <div class="photo">
        <img
            src="https://s-media-cache-ak0.pinimg.com/236x/3b/36/ca/3b36ca3afe0fa0fd4984b9eee2e154bb.jpg"
        />
    </div>
    <div class="description">
        <h2>Classic Peace Lily</h2>
        <h4>Popular House Plant</h4>
        <h1>$18</h1>
        <p>
            Classic Peace Lily is a spathiphyllum floor plant arranged in a
            bamboo planter with a blue & red ribbom and butterfly pick.
        </p>
        <button>Add to Cart</button>
        <button>Wishlist</button>
    </div>
</div>
